In [1]:
name="Deepansh Sharma"
Name="Deepak  Sharma"
print(name)
print(Name)

Deepansh Sharma
Deepak  Sharma

In [2]:
x=5
y=7
print(x+y)

12

In [6]:
age=45
if age<30:
   print(age)
print("age is",age)

age is 45

In [7]:
print(f"my age is {age}")

my age is 45

In [10]:
total=1+2+3+\
    5+5+5+5
print(total)

26

In [11]:
x=5;y=6
print(x,y)

5 6

In [17]:
age=20
name='deepansh sharma'
print(type(age))
type(name)

<class 'int'>

str

In [20]:
a=1000000000
age=20;name='deepansh';is_student=True
print("my name is",name)
print("deepansh is a student",is_student)
print(type(is_student))

my name is deepansh
deepansh is a student True
<class 'bool'>

In [24]:
age=21
age_str=str(age)
print(type(age_str))
print(type(int(age_str)))

<class 'str'>
<class 'int'>

In [35]:
#string to integer by summing the ASCII value of its characters
num = sum(ord(c) for c in "deepansh")
print(num)

840

In [36]:
#printing ASCII value of a character
char= 'A'
ascii_value = ord(char)
print(ascii_value)

65

In [38]:
var=10
print(var,type(var))
var="hello world"
print(var,type(var))
var=3.14
print(var,type(var))

10 <class 'int'>
hello world <class 'str'>
3.14 <class 'float'>

In [3]:
#taking input from user
name = input("what is your name ?")
print("your name is", name )

your name is deepansh

In [32]:
#calculator
print("welcome to airthemetic\n  **calculator**")
first= int(input("enter first number: "))
operator=input("enter operator(+,-,*,/,%)")
second=int(input("enter second number: "))

if operator=='+':
    print(first+second)
elif operator=='-':
    print(first-second)
elif operator=='*':
    print(first*second)
elif operator=='/':
    if second !=0:
       print(first/second)
    else: print("error! division by zero")   
elif operator=='%':
    print(first%second)
else :
    print("invalid operation")

welcome to airthemetic
  **calculator**
5.0

In [1]:
a=10
b=10
type(a==b)

bool

In [13]:
result=("deepansh  sharma"*10)
print(result)

deepansh  sharmadeepansh  sharmadeepansh  sharmadeepansh  sharmadeepansh  sharmadeepansh  sharmadeepansh  sharmadeepansh  sharmadeepansh  sharmadeepansh  sharma

In [15]:
result="hello deepansh" +"  " +str(29)
print(result)

hello deepansh  29

In [22]:
divide=a/b
a=10;b=5
print(divide)
floor_division=a//b
print(floor_division)
modulus=a%b;print(modulus)
exponent=a**b;print(exponent)

2.0
2
0
100000

In [23]:
21/5

4.2

In [24]:
2**(2**5)

4294967296

In [26]:
a=10;b=10.01
a==b

False

In [38]:
 str1 = "deepansh"
 str2 = "Deepansh"
 str1 == str2

False

In [39]:
 str1!=str2

True

In [40]:
a=100 ;b=100.1
a>b

False

In [41]:
a<b

True

In [42]:
print(a>=b,a<=b,a==b)

False True False

In [43]:
x=1
y=0
result=x and y;print(result)

0

In [44]:
x=True
y=False
result=x and y;print(result)

False

In [45]:
x=True
y=False
result=x or y;print(result)

True

In [48]:
x=True
not x

False

In [3]:
age=18
if age  >= 18:
               print("you are eligible for vote")

you are eligible for vote

In [7]:
age=int(input(print("enter age")))
if age >=18:
    print("you are eligible for voting")
else: print("you are a minor")

enter age
you are a minor

In [20]:
age=int(input(print("enter age")))
if age  <18:
    print("you are a child")
elif age >=18 and age <40:
    print("you are an adult")
else:
    print("you are a senior citizen")

enter age
you are an adult

In [23]:
num = 43
if num%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [30]:
##leap year
year=int(input(print("enter year")))
if year %4 ==0:
    if year%100==0:
        if year% 400==0:
          print(year,"is a leap year")
        else:
         print(year,"not a leap year") 
    print(year,"is a leap year")    
else: 
    print("year is not a leap year")

enter year
2004 is a leap year

In [ ]:
user_input = "HeLLo WoRLd"
clean_input = user_input.upper()
print(clean_input)

HELLO WORLD

In [ ]:
user_input = "HeLLo WoRLd"
clean_input = user_input.lower()
print(clean_input)  # Output: "hello world"

In [ ]:
 years_of_service = int(input("Enter years of service: "))
 performance_rating = float(input("Enter performance rating (1.0 to 5.0): "))
 # Determine bonus percentage
 if performance_rating >= 4.5:
    if years_of_service > 10:
        bonus_percentage = 20
    elif years_of_service > 5:
        bonus_percentage = 15
    else:
        bonus_percentage = 10
 elif performance_rating >= 3.5:
    if years_of_service > 10:
        bonus_percentage = 15
    elif years_of_service > 5:
        bonus_percentage = 10
    else:
        bonus_percentage =5
        
else:
    bonus_percentage = 0
 # Calculate bonus amount
 salary = float(input("Enter current salary: "))
 bonus_amount = salary * bonus_percentage / 100
 print("Bonus Amount: ${:.2f}".format(bonus_amount))
 
 #{:.2f}".format(string formatting)

Bonus Amount: $5000.00

In [48]:
#user login system
 # Predefined username and password
stored_username = "admin"
stored_password = "password123"
 # Take user input
username = input("Enter username: ")
password = input("Enter password: ")
 # Check login credentials
if username == stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

Login successful!

#loops

In [49]:
range(99)

range(0, 99)

In [52]:
for i in range(99):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [56]:
for i in range(0,11):
   print("deepansh",i)

deepansh 0
deepansh 1
deepansh 2
deepansh 3
deepansh 4
deepansh 5
deepansh 6
deepansh 7
deepansh 8
deepansh 9
deepansh 10

In [11]:
for i in range(1,10,2):
   print(i)

1
3
5
7
9

In [12]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [13]:
str="deepansh"
for i in str:
    print(i)

d
e
e
p
a
n
s
h

In [15]:
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [16]:
 # Checking help
 help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [17]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [18]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [26]:
## pass
 ## The pass statement is a null operation; it does nothing.
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [30]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [34]:
n=10   
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [48]:
## Example- Prime numbers between 1 and 100
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [53]:
 # Printing a table
 for i in range(1, 11):
    print(f"{2} * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#lists

In [55]:
lst

[]

In [58]:
names = ["deepansh", "ajay", "deepti", 1, 2, 3, 4, 5]
print(names)

['deepansh', 'ajay', 'deepti', 1, 2, 3, 4, 5]

In [59]:
fruits=["apple", "banana","cherry","kiwi","gauva"]

In [60]:
 print(fruits[0])
 print(fruits[1])
 print(fruits[4])
 print(fruits[-1])

apple
banana
gauva
gauva

In [61]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [62]:
fruits[0:3]

['apple', 'banana', 'cherry']

In [ ]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[:3])
print(fruits[:])
print(fruits[::-1])#Reverse the list

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'gauva']
['gauva', 'kiwi', 'cherry', 'banana', 'apple']

In [64]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [66]:
fruits[1:] = "watermelon";print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [67]:
fruits = ["apple","banana","cherry","kiwi","gauva"]
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [68]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [69]:
 ## List Methods
 fruits.append("orange") ## Add an item to the end
 print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [70]:
 fruits.insert(1,"watermelon")
 print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [72]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [74]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(fruits)
print(popped_fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']
orange

In [77]:
index=fruits.index("apple")
print(index)

0

In [82]:
fruits = ["apple","banana","cherry","cherry","kiwi","gauva"]

In [84]:
print(fruits.count("cherry"))

2

In [92]:
 fruits.append("avocado") ## Add an item to the end
 fruits

['apple',
 'avocado',
 'avocado',
 'banana',
 'cherry',
 'cherry',
 'gauva',
 'kiwi',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'avocado']

In [ ]:
 # Sort the list in ascending order
fruits.sort() 
fruits

['apple',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'banana',
 'cherry',
 'cherry',
 'gauva',
 'kiwi']

In [96]:
 # Sort the list in descending order
fruits.reverse()
fruits

['kiwi',
 'gauva',
 'cherry',
 'cherry',
 'banana',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'avocado',
 'apple']

In [98]:
fruits.clear()
fruits

[]

In [116]:
 ## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
for numbers in numbers:
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [117]:
 ## Iterating with index
for index, numbers in enumerate(numbers):
    print(index, numbers)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [120]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [126]:
print(numbers.count(2))
print(len(numbers))

1
10

In [127]:
 ## List comprehension
lst=[]
for x in range(1,11,2):
    lst.append(x**2)
print(lst)

[1, 9, 25, 49, 81]

In [134]:
[x**2 for x in range(1,12,2)]

[1, 9, 25, 49, 81, 121]

In [136]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [137]:
 mixed_tuple=(1,"Hello World",3.14, True)
 print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [139]:
numbers=(1,2,3,4,5)

In [141]:
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [142]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [144]:
mixed_tuple*2

(1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True)

In [145]:
numbers

(1, 2, 3, 4, 5)

In [147]:
# Tuple
numbers, type(numbers)

((1, 2, 3, 4, 5), tuple)

In [148]:
numbers[1]="deepansh"

TypeError: 'tuple' object does not support item assignment

In [150]:
## Tuple Methods
print(numbers.count(1)); print(numbers.index(3))

1
2

In [152]:
## Packing and Unpacking tuple
 ## packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [153]:
 ## unpacking a tuple
a, b, c = packed_tuple; print(a)
print(b)
print(c)

1
Hello
3.14

In [155]:
## Unpacking with *
numbers = (1,2,3,4,5,6)

first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [157]:
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

In [158]:
lst[2][0:3]

[1, 'Hello', 3.14]

In [159]:
 nested_tuple = ((1, 1, 2, 3, 2), ("a", "b", "c"), (True, False))
 ## access the elements inside a tuple
 print(nested_tuple[0])
 print(nested_tuple[1][2])

(1, 1, 2, 3, 2)
c

In [163]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
     print(item,end=" ")
print()

1 1 2 3 2 a b c True False

In [165]:
## Creating Dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
student={"name":"Sunny", "age":17, "grade":11}
print(student) # Accessing Dictionary elements 
print(type(student))

{'name': 'Sunny', 'age': 17, 'grade': 11}
<class 'dict'>

In [171]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

11
17

In [173]:
## Accessing using get() method
print(student.get('grade'))

11

In [174]:
print(student.get('last_name',"Not Available"))

Not Available

In [3]:
print(student.get('last_name'))

None

In [1]:
 ## syntax
 def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [10]:
def even_or_odd(num):
        """This function finds even or odd"""
        if num%2==0:
           print("the number is even")
        else:
            print("the number is odd")
 ## Call this function
even_or_odd(67)

the number is odd

In [ ]:
 ## function with multiple parameters
def add(a,b):
    return a+b
a = int(input("Enter the number 1"))
b = int(input("Enter the number 2"))
result=add(a, b)
print("The result of",a, "and", b, "is",result)
 #or
print(f"The result of {a} and {b} is {result}")#fstrings

The result of 5 and 5 is 10
The result of 5 and 5 is 10

In [12]:
 def greet(name):
        print(f"Hello {name} Welcome To the paradise")
 greet("Deepansh")

Hello Deepansh Welcome To the paradise

In [1]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")
greet("Riya")

Hello Riya Welcome To the paradise

NameError: name 'notebooks' is not defined